.wrapper {
    width: 100%;
    min-height: 100vh;
}

/* navigation bar*/
nav {
    width: 100%; /* making it left until logo, right until user-pic*/
    padding: 10px 5%;
    display: flex; /* make it horizontal*/
    align-items: center;
    justify-content: space-between;/* make it spread*/
    color: #525252;
    position: relative;
}
.logo {
    width: 170px;
    cursor: pointer;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    background: #ffd700;
    cursor: pointer; /* make cursor change to little hand when hover*/
    margin-left: 30px;
}


    /* sub-menu*/
.sub-menu-wrap {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1; /* making it closer to the screen(otherwise some link is blocked by <content-wrap>)*/
}
.sub-menu-wrap.open-menu {
    max-height: 400px;
}


.sub-menu {
    background: #ffd700;
    padding: 20px;
    margin: 10px;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info h4 {
    font-weight: 700;
}
.user-info img {
    width: 60px;
    background: #fff;
    border-radius: 50%;
    margin-right: 25px;
}
.user-info:hover img{
    background: #1f528f;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 15px 0px 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p {
    width: 100%;
}
.sub-menu-link img {
    width: 40px;
    background: #1f528f;
    border-radius: 50%;
    padding: 8px; /* make the img smaller */
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span {
    transform: translateX(5px);
    color: #525252;
}
.sub-menu-link:hover p {
    font-weight: 600;
    color: #525252;
}
