<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="homeland.css" rel="stylesheet">
        <script src="homeland.js"></script>
        <title>homeland</title>
    </head>

    <body>
        <div class="wrapper">
            <!--navigation bar-->
            <nav>
                <div></div>
                <img src="../images/logo.png" class="logo" alt="logo" onclick="goHome()">
                <img src="../images/santa.png" class="user-pic" alt="santa" onclick="toggleMenu()">

                <div class="sub-menu-wrap" id="subMenu">
                 <div class="sub-menu">
                        <div class="user-info">
                                <img src="../images/welcome.png" alt="welcome">
                                <h3>Hello there!</h3>
                        </div>
                        <hr>
                        <a href="../index.html" class="sub-menu-link">
                            <img src="../images/home.png" alt="home icon">
                            <p>Home</p>
                            <span>></span> <!--the arrow sign-->
                        </a>
                        <a href="../hobbies/hobbies.html" class="sub-menu-link">
                            <img src="../images/hobbies.png" alt="hobbies icon">
                            <p>Hobbies</p>
                            <span>></span>
                        </a>
                        <a href="../foods/foods.html" class="sub-menu-link">
                            <img src="../images/foods.png" alt="foods icon">
                            <p>Foods</p>
                            <span>></span>
                        </a>
                        <a href="../footprints/footprints.html" class="sub-menu-link">
                            <img src="../images/footprints.png" alt="footprints icon">
                            <p>Footprints</p>
                            <span>></span>
                        </a>
                 </div>
                </div>
            </nav>

            <h1 id="title">The island I come from</h1>
            <div class="main-part">
                <div class="main-part1">
                    <div class="google-map-container">
                        <iframe src="https://my.atlist.com/map/68b511d5-36f6-4be1-bf95-55767e66e956?share=true" allow="geolocation 'self' https://my.atlist.com" width="100%" height="400px" loading="lazy" frameborder="0" scrolling="no" allowfullscreen></iframe>
                    </div>
                    <hr></hr>
                    <h1>Want to visit other pages?</h1>
                    <h2>Just click on the top right corner santa ↗️</h2>
                    <hr class="line2"></hr>


                </div>

                <div class="main-part2">
                    <h1>Taiwan.</h1>
                    <p id="text2"><span class="underline">With about 23 million residents, and over 100 mountains taller than 3,000m on this island.🏝️</span></p>
                    <div></div>
                    <p id="text3"><span class="underline2">Beach in the morning, epic hike by noon, and city lights and shopping sprees at night. Everything so convenient here!🤩</span></p>
                    <div></div>
                </div>
            </div>
















        </div>
    </body>
</html>
