<!DOCTYPE html>
<html>
    <head>
        <title>Foods</title>
        <link href="foods.css" rel="stylesheet">
        <script src="foods.js"></script>
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
        <div class="wrapper">
        <!--navigaiton bar-->
        <nav>
            <div></div>
            <img src="../images/logo.png" class="logo" onclick="goHome()">
            <img src="../images/santa.png" class="user-pic" onclick="toggleMenu()">

            <div class="sub-menu-wrap" id="subMenu">
             <div class="sub-menu">
                    <div class="user-info">
                            <img src="../images/welcome.png">
                            <h3>Hello there!</h3>
                    </div>
                    <hr>
                    <a href="../index.html" class="sub-menu-link">
                        <img src="../images/home.png">
                        <p>Home</p>
                        <span>></span> <!--the arrow sign-->
                    </a>
                    <a href="../homeland/homeland.html" class="sub-menu-link">
                        <img src="../images/homeland.png">
                        <p>Homeland</p>
                        <span>></span>
                    </a>
                    <a href="../hobbies/hobbies.html" class="sub-menu-link">
                        <img src="../images/hobbies.png">
                        <p>Hobbies</p>
                        <span>></span>
                    </a>
                    <a href="../footprints/footprints.html" class="sub-menu-link">
                        <img src="../images/footprints.png">
                        <p>Footprints</p>
                        <span>></span>
                    </a>
             </div>
            </div>
        </nav>
        <!--Title-->
        <h1 class="title">my favorite dishes</h1>

        <div class="main-wrap">
            <!--Gallery-->
            <div class="gallery-container">
                <div class="gallery">
                    <div class="img-box"><h3>Perl milk tea</h3></div>
                    <div class="img-box"><h3>Hotpot</h3></div>
                    <div class="img-box"><h3>Stinky tofu</h3></div>
                    <div class="img-box"><h3>Douhua</h3></div>
                </div>
            </div>
            <div class="gap"></div>
            <!--content-->
            <div class="content-wrap">
                <div class="content-box">
                    <h1>Perl milk tea</h1>
                    <p>The best drink ever. This is so popular in Taiwan that it has become a category of drinks which are topped with starchy balls made from flour, or jelly.</p>
                </div>
                <div class="content-box">
                    <h1>Hotpot</h1>
                    <p>This dish comes with a variety of broths, including chicken, pork, and spicy one. And we can choose which ingredients we want to cook with, be it meat, vegetable, or sometimes seafood, and the optimal times to put them into the broth.</p>
                </div>
                <div class="content-box">
                    <h1>Stinky Tofu</h1>
                    <p>Many people might be put off by the smell of this dish, but it's similar to the concept of blue cheese — those who love it are absolutely passionate about it. And for me, it's an essential part of my life!</p>
                </div>
                <div class="content-box">
                    <h1>Douhua</h1>
                    <p>This creamy dish, made from silky smooth soy beans, is the perfect after-meal treat. Top it with chewy tapioca balls, peanuts, and a spoonful of warm, steamed oatmeal, or anything you want.<br></br>Enjoy it curled up on the couch with your favorite TV show or movie - the simple sweetness and comforting warmth are sure to hit the spot.</p>
                </div>
            </div>
        </div>

        <!--guide to another page-->
        <div class="guide">
            <hr class="line1"></hr>
            <h5>Want to visit other pages?</h5>
            <h6>Just click on the top right corner santa ↗️</h6>
            <hr class="line2"></hr>
        </div>




        </div>
    </body>
</html>
